$gold: #C08656;
$dark-blue: #14192C;
$white: #FFF;
$cream: #F2E4D9;
$gray: #79726C;
$light-gray: #a99f97;
$bright: #f2f2f2;
$signika: 'Signika', sans-serif;
$work-sans: 'Work Sans', sans-serif;
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600|Work+Sans:600');

/* all */
* {
    margin: 0;
    padding: 0;
    font-family: $signika;
    font-weight: 300;
}

/* navigation */
nav {
    .nav-item {
        color: $gold;
        text-decoration: none;
    }

    .contact-item {
        background-color: $dark-blue;
        color: $white;
        border-radius: 20px;
    }
}

/* underline on hover in navigation anchors */
.hvr-undrln {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: $gold;
        height: 2px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    &:active:before,
    &:focus:before,
    &:hover:before {
        left: 0;
        right: 0;
    }
}

/* landing page and its elements */
.landing-page {
    .hero-content {
        position: relative;
        text-align: center;
        color: $white;

        .centered-content {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 1.2rem;
            }

            p {
                font-size: 2.7rem;
                line-height: 1.2;
            }

            button {
                color: $gold;
                border-radius: 18px;
            }
        }
    }

    .tooth-brush {
        img {
            width: 100%;
            margin-left: -100px;
            margin-top: 200px;
        }
    }
}

/* decoration elements */
.rectangle-dark {
    height: 650px;
    width: 680px;
    background-color: $dark-blue;
    border-radius: 0 0 12px 12px;
}

.rectangle-bright {
    height: 335px;
    width: 480px;
    background-color: $bright;
    border-radius: 12px;

}
.rectangle-footer{
    position: relative;
    height: 300px;
    width: 80vw;
    background-color: $cream;
    z-index: -10;
}
.rectangle-team{
    z-index: -5;
    height: 600px;
    width: 480px;
    background-color: $dark-blue;
    border-radius: 12px;
}

/* services section */
.services {
    .col:nth-child(1) {
        img {
            &:nth-child(1) {
                margin-top: 50px;
            }

            &:nth-child(3) {
                margin-top: 100px;
            }

        }
    }

    .col:nth-child(2) {
        /* selecting imgs with nth child */
        z-index: -5;

        .rectangle-bright {
            margin-left: -100px;
        }

        img {
            &:nth-child(2) {
                margin-top: -50px;

            }

            &:nth-child(4) {
                margin-top: 100px;
            }

            &:nth-child(6) {
                margin-top: -500px;
            }
        }
    }
}

/* decription about services above img */
.description {
    h6 {
        color: $gray;
    }

    a {
        text-decoration: none;
        color: $gold;
    }
    h4,a{
        font-weight: 600;
    }
}

/* special services section*/
.special-services {
    .col:nth-child(1) {
        z-index: 0;
        /* selecting imgs with nth child */
        img {
            &:nth-child(1) {
                margin-top: 100px;
            }

        }

        .rectangle-bright {
            margin-bottom: -180px;
        }
    }

    .col:nth-child(2) {
        z-index: 10;
        img {
            &:nth-child(1) {
                margin-top: -300px;
            }

            &:nth-child(3) {
                margin-top: 100px;
            }
        }
    }
}
/* team section */
.team{
    width: 100vw;
    height: 100vh;
    img{
        width: 30%;
        border-radius: 12px;
        z-index: 100;
        margin-left: 20vw;
    }
    .team-content{
        position: relative;
        text-align: center;
        z-index: -5;
        .rectangle-team{
            margin-bottom: -15vh;
            margin-left: 30vw;
           
        }
        .team-center-content{
                position: absolute;
                top: 45%;
                left: 66.5%;
                transform: translate(-50%, -50%);
                h6{
                    color: $gold;
                    letter-spacing: 2px;
                }
                h4{
                    font-size: 1.8rem;
                }
        }
    }
}
/* price list section */
.price-list {
    h6 {
        color: $gold;
    }

    h4 {
        font-size: 2rem;
    }

    .prices {
        color: $gold;
    }
}

/* newsletter section */
.newsletter {
    background-color: $gold;
    color: $white;
}

/* footer */
.footer {

    .contact {
        p {
            line-height: 130%;
        }
    }

    .opening-hours {
        p {
            span {
                text-transform: uppercase;
                color: $gray;
            }
        }
    }
    .adress{
        a{
            text-decoration: none;
            color: $gold;
        }
    }
    .copyright{
        p{
            color: $light-gray;
        }
    }
}